@model ImageServiceWeb.Models.ConfigModel



@{
    ViewBag.Title = "Config";
}
<style>
    table#t01 {
        width: 100%;
        font-size: 150%;
    }
</style>

<h2>Setting</h2>
@if (!ViewBag.ServiceRunning)
{
    <h3>Service Status:</h3>
    <span style="font-weight: bold; font-size: x-large" class="badge badge-danger">Inactive</span>
    <h4>Cannot load Settings</h4>
}
else
{


<table id="t01">
    <tr>
        <td><strong> Output Directory: </strong></td>
        <td>@Html.DisplayFor(model => model.Output)</td>
    </tr>
    <tr>
        <td><strong> Source Name: </strong></td>
        <td>@Html.DisplayFor(model => model.SourceName)</td>
    </tr>
    <tr>
        <td><strong> Log Name: </strong></td>
        <td>@Html.DisplayFor(model => model.LogName)</td>
    </tr>
    <tr>
        <td><strong> Thumbnail Size: </strong></td>
        <td>@Html.DisplayFor(model => model.ThumbnailSize)</td>
    </tr>
</table>
<br>
<br>

<table class="table">

    <thead>
        <tr>
            <th>Directory Name:</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Handlers)
        {
            if (!item.Equals(""))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item)</td>
                    <td>@Html.ActionLink("Delete", "DeleteDirConfirm", "Home", new { dir = item }, null)</td>
                </tr>

            }
        }
    </tbody>
</table>
}
