
@{
    ViewBag.Title = "PhotosViewer";
}

<h2>@ViewBag.name</h2>

<table id="t01">
    <tr>
        <td><strong> Date:</strong></td>
        <td>@ViewBag.month/@ViewBag.year</td>
    </tr>
</table>
<br>
<a href="@Url.Action("DeletePhotoConfirm", new { photo = @ViewBag.path })" id="btnDelete" class="btn btn-danger" role="button">Delete</a>
<input type="button" value="Go Back" onclick='goBack()' class="btn btn" />
<br>
<br>
<img src="@ViewBag.pathOrigin" alt="" class="img-responsive">


<script>
    function goBack() {
        document.location = 'Photos'
    }
</script>