@model ImageServiceWeb.Models.PhotoModel

@{
    ViewBag.Title = "Photos";
}
<h1>Photos</h1>

<head>
    <style>
        .circular-image {
            border-radius: 50%;
        }
    </style>
</head>

<div class="container" id="tourpackages-carousel">

    <div class="row">
        @foreach (var photo in Model.PhotoList)
        {
            <div class="col-xs-18 col-sm-6 col-md-3">

                <div class="text-center">
                    <p><img src="@photo.path" alt="" class="circular-image" width="204" height="153"></p>
                    <div class="caption text-center">
                        <p><b>@photo.name</b></p>
                        <p>@photo.month/@photo.year</p>
                        <p>
                            <a href="@Url.Action("PhotosViewer", new { path = photo.path, year=photo.year, month = photo.month, name= photo.name})" id="btnView" class="btn btn-info" role="button">View</a>
                            <a href="@Url.Action("DeletePhotoConfirm", new { photo = photo.path })" id="btnDelete" class="btn btn-danger" role="button">Delete</a>
                        </p>
                    </div>
                </div>
                <br>
                <br>
            </div>
        }
    </div>
</div>

